@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.fundo{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBE5CE;
}
.oi{
    padding: 100px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   height:300px ;

   background-image: url("assets/Decoracao.png");
   background-size: contain;
   min-height: 400px;
   background-position: center;
   background-repeat: no-repeat;
}

h1{
    font-family: 'Donegal One', serif;
    color: #8D1042;
}
p{
    font-size: 20px;
}
.entrar{
    border-radius: 7px;
    background-color: #640F3D;
    color: #fff;
    font-size: 16px;
    padding: 15px 50px;
    font-family: 'Inter', sans-serif;
    border: none;
  }

  .entrar:hover{
    background-color: #8D1042;
  }

  .enfeite{
   padding-left: 350px

  }

  .bola1{
    height: 150px;
    position: absolute;
    top: 0px;
    right: -5px;
  }
  .bola2{
    height: 115px;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }